.wrapper {
    display: flex;
    justify-content: left;
    height: 700px;
    position: relative;

}

.wrapper > div {
    margin: 10px;

}

.wrapper2 {

}

.wrapper2 > div {

}

.map {
    width: 1000px;
    max-height: 700px;
    position: sticky;
}

.location {
    width: 500px;
    position: fixed;
    top: 0;
    overflow: hidden;
    /*height: 70px;*/
    padding: 10px 0;
    text-align: center;
}

.reports {
    width: 600px;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    margin-top: 70px;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

form {
    display: inline-block;
    width: 40%
}

/* Style the search field */
form.search input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
    position: relative;
    left: 40px;
    display: inline-block;
}

/* Style the submit button */
form.search button {
    float: left;
    /*width: 20%;*/
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    position: relative;
    left: 40px;
    display: inline-block;

}

form.search button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}
